@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('../assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kalam';
    src: url('../assets/fonts/Kalam/Kalam-Regular.ttf') format('truetype');
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kalam';
    src: url('../assets/fonts/Kalam/Kalam-Light.ttf') format('truetype');
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kalam';
    src: url('../assets/fonts/Kalam/Kalam-Bold.ttf') format('truetype');
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}